@font-face {
    font-family: '1942_report1942_report';
    src: url("../font/1942-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  font-size: 18px;
  line-height: 1.8em;
  color: #5D6063;
  background-color: bisque;
}


.div1 {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  background-color: white;
  margin-bottom: 50px;
}


.div2 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;
  background-color: white;
  margin-bottom: 20px;
}

.div3 {
  padding: 50px;
  border: 1px solid red;
  background-color: white;
  margin-bottom: 20px;
}

.div4 { /*design the style*/
	padding-bottom: 30px;
}

h1{
	font-family: '1942_report1942_report';
	padding-bottom: 30px;
}
h2 {
	font-family: 'Indie Flower', cursive;
}

h3 {
	font-family: 'raleway', cursive;
	font-weight:400;
  padding: 30px
}
h4 {
	font-family: 'raleway'
	font-weight:700;
  padding: 30px
}

em {
  font-family:"ralewaymedium";
}
